@import "foundation/variable";
@import "foundation/mixin";
@import "foundation/presets";
@import "foundation/btn_elements";
@import "foundation/mixin";
@import "layouts/borbibi_dots";
@import "layouts/borbibi_social_icon";

/*------------------------------------------
------------------------------------------*/
.borbibi_section__title {
  @include borbibi_section__title(false, false, false);
}

/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/
@import "layouts/highlighted_profile";

/*------------------------------------------
------------------------------------------*/
@import "layouts/success_story";

/*------------------------------------------
------------------------------------------*/
.borbibi_has_eye {
  position: relative;
  .borbibi_eye {
    position: absolute;
    right: 10px;
    bottom: 14px;
  }
}

.select2-selection {
  line-height: 40px !important;
  height: 40px !important;
  border: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
  position: absolute;
  top: 1px;
  right: 8px;
  width: 20px;
}
.select2-selection {
  border: none !important;
  outline: none !important;
}
.select2-container--default{
    display: block;
}
.select2-container--default .select2-selection--single {
  border-radius: 46px !important;
}
.select2-selection__rendered {
  border: 1px solid $cffd;
  border-radius: 46px;
  position: relative;
  background: $cff;
  color: $c9b9;
  font-size: $fz14;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 15px;
  border-radius: 46px !important;
}
@import "layouts/borbibi_aggrement_check";
/*--------------------------------
--------------------------------*/
@import "layouts/borbibi_signup";

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/*------------------------------------------
------------------------------------------*/
/*------------------------------------------
------------------------------------------*/
@import "layouts/borbibi_banner";
/*------------------------------------------
------------------------------------------*/
@import "layouts/borbibi_footer";
/*------------------------------------------
------------------------------------------*/
@import "layouts/borbibi_navigation";
/*------------------------------------------
------------------------------------------*/
@import "layouts/borbibi_app";
/*------------------------------------------
------------------------------------------*/
@import "layouts/borbibi_scrolltop";
/*------------------------------------------
------------------------------------------*/
.borbibi_signup_form {
  background: $cfbf7;
  padding-bottom: 150px;
  margin-bottom: -100px;
  position: relative;
  > img{
      position: absolute;
      z-index: 0;
      opacity: 0.5;
  }
  .borbibi_pattern1{
      top: 0;
      left: 0;
  }
  .borbibi_pattern2{
      top: 0;
      right: 0;
      filter: grayscale(100%);
  }
  .borbibi_pattern3{
      right: 0;
      bottom: 0;
  }
  .borbibi_pattern4{
      left: 0;
      bottom: 0;
      filter: grayscale(100%);
  }
  .borbibi_section__title {
    h3 {
      font-weight: $bold;
      font-family: $play;
    }
  }
  .borbibi_signup_form_inner {
    border: 1px solid $cf1;
    border-radius: 45px;
    .borbibi_sidebar {
        background: $cff;
        padding: 60px 40px 60px  40px;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        margin-right: 30px;
        text-align: left;
        height: 100%;
        h5{
            font-size: $fz20;
            color: $cff4f;
            font-family: $play;
            line-height: 30px;
        }
        ul{
            padding-left: 0;
            margin-top: 25px;
            margin-bottom: 25px;    
            li{
                font-size: $fz16;
                color: $c46;
                line-height: 26px;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                i{
                    font-size: $fz14;
                    color: $cff4f;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
        p{
            font-style: italic;
            font-size: $fz14;
            color: $c46;
            padding-top: 20px;
            padding-bottom: 20px;
            i{}
        }
        .borbibi_sidebar_contact{
            font-size: $fz16;
            color: $c46;
            margin-bottom: 10px;
            i{
                font-size: $fz14;
                color: $cff4f;
                display: inline-block;
                margin-right: 5px;
            }
        }
        .borbibi_bordered_btn{
            @include borbibi_bordered_btn(45px, 30px, 16px);
              @include inlineFlex;
              position: relative;
              z-index: 9;
              @include transition(.40s);
              border: none;
              background: $cff;
              margin-top: 20px;
              color: $cff4f;
              i{
                  display: inline-block;
                  margin-right: 10px;
              }
              &::before{
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  background: #f17677;
                  background: -moz-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                  background: -webkit-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                  background: linear-gradient(to bottom, #f17677 0%, #ee2a4f 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17677', endColorstr='#ee2a4f',GradientType=0 );
                  box-shadow: 0px 7px 13px rgba(122, 12, 12, 0.27);
                  border-radius: 30px;
                  @include transition(.40s);
                  z-index: -1;
                  visibility: hidden;
                  opacity: 0;
              }
              &:hover{
                  color: $cff;
                  &::before{
                      visibility: visible;
                      opacity: 1;
                  }
              }
        }
    }
    .borbibi_step_form {
      .steps {
        ul {
          @include flexDirection(row);
          align-items: flex-start;
          padding-left: 0;
          margin-top: -21px;
          li {
            max-width: 25%;
            flex: 0 0 25%;
            text-align: left;
            position: relative;
            &.done {
              &::after {
                background: $cf293;
                width: 183px;
              }
              .number{
                box-shadow: 0px 3px 4px 4px $cf2f2;
                  &::before{
                      visibility: visible;
                      opacity: 1;
                      transform:  scale(1);
                  }
                  &::after{
                      visibility: visible;
                      opacity: 1;
                  }
              }
            }
            &:last-child {
              &::after {
                display: none;
              }
              &::before {
                display: none;
              }
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 18px;
              height: 4px;
              width: 183px;
              background: $cf2f2;
              @include transition(0.4s);
            }
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 18px;
              height: 4px;
              width: 0px;
              background: $cf2f2;
              @include transition(0.4s);
            }
            a {
              @include flexDirection(column);
              text-align: left;
              padding: 0 50px;
              font-size: $fz16;
              color: $c7272;
              padding-left: 0;
              align-items: flex-start;
              .current-info {
                display: none;
              }
              .number {
                height: 40px;
                width: 40px;
                @include inlineFlex;
                box-shadow: 0px 0px 0px 4px $cf2f2;
                border-radius: 50%;
                color: $c8989;
                margin-bottom: 23px;
                background: $cff;
                position: relative;
                z-index: 9;
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  width: 100%;
                  background: #f17677;
                  background: -moz-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                  background: -webkit-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                  background: linear-gradient(to bottom, #f17677 0%, #ee2a4f 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17677', endColorstr='#ee2a4f',GradientType=0 );
                  box-shadow: 0px 7px 13px rgba(122, 12, 12, 0.27);
                  border-radius: 50%;
                  visibility: hidden;
                  opacity: 0;
                }
                &::before {
                    position: absolute;
                    font-family: "FontAwesome";
                    content: "\f00c";
                    left: 10px;
                    top: 3px;
                    color: $cff;
                    font-size: $fz22;
                    z-index: 9;
                    visibility: hidden;
                    opacity: 0;
                    @include transition(.40s);
                    transform:  scale(1.3);
                }
              }
            }
          }
        }
      }
      .content {
        background: $cff;
        padding: 40px 40px;
        margin-right: 40px;
        border-radius: 22px;
        margin-top: 30px;
        box-shadow: 0px 0px 25px rgba($c9e52, 0.15);
        .title {
          display: none;
        }
        .body {
          .current {
          }
        }
        .form-group {
          label {
            font-size: $fz14;
            color: $c46;
            font-family: $poppins;
          }
          .form-control {
            line-height: 40px;
            height: 40px;
            border-radius: 30px;
            border: 1px solid $cffd;
            padding-left: 15px;
            &:focus {
              outline: none;
              box-shadow: none;
            }
            input {
              &[target="file"] {
              }
            }
            select {
            }
          }
        }
      }
      .actions {
        padding: 40px 40px;
        margin-right: 40px;
        ul {
          padding-left: 0;
          @include flexDirection(row);
          justify-content: flex-end;
          li {
            margin-left: 10px;
            a {
              @include borbibi_bordered_btn(40px, 30px, 16px);
              color: $cf293;
              @include inlineFlex;
              position: relative;
              z-index: 9;
              @include transition(.40s);
              &::before{
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  background: #f17677;
                  background: -moz-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                  background: -webkit-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                  background: linear-gradient(to bottom, #f17677 0%, #ee2a4f 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17677', endColorstr='#ee2a4f',GradientType=0 );
                  box-shadow: 0px 7px 13px rgba(122, 12, 12, 0.27);
                  border-radius: 30px;
                  @include transition(.40s);
                  z-index: -1;
                  visibility: hidden;
                  opacity: 0;
              }
              &:hover{
                  color: $cff;
                  &::before{
                      visibility: visible;
                      opacity: 1;
                  }
              }
            }
          }
        }
      }
    }
  }
}
.borbibi_breadcrumb{
    position: relative;
    background: url(../images/breadcrumb-image.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    .borbibi_navigation{
        position: relative;
        .borbibi_social_icon{
            li{
                a{
                    background: rgba($cff,.40);
                    i{
                        color: $cff;
                    }
                    
                }
            }
        }
    }
}
fieldset{
    legend{
        font-weight: $medium;
        font-size: $fz20;
        color: $c9697;
        margin-bottom: 25px;
    }
    .borbibi_field_group{
        
        &:not(:last-child){
            padding-bottom: 30px;
            border-bottom: 1px solid $ceff1;
            margin-bottom: 30px;
        }
        label{
            font-size: $fz14;
            color: $c46;
            font-family: $poppins;
        }
        .form-group{

        }
        .borbibi_group_field{
            .group-label{
                @include flexDirection(row);
                justify-content: space-between;
                label{
                    
                }
            }
            .group-control{
                @include flexDirection(row);
                border-radius: 30px;
                border: 1px solid $cffd;
                select{

                }
                >span{
                    &:last-child{
                        border-right: 0;
                    }
                }
                .form-control,.select2-container--default{
                    flex: 0 0 50%;
                    max-width: 50%;
                    border-right: 1px solid $cffd;
                    .select2-selection__rendered {
                        @extend .select2-selection__rendered;
                        border: none;
                      }
                }
            }
        }
    }
}
.borbibi_add_more{
    color: $cff4f;
    font-size: $fz14;
    font-style: italic;
    @include inlineFlex;
    margin-bottom: 20px;
    cursor: pointer;
    i{
        display: inline-block;
        margin-right: 5px;
        font-size: $fz16;
        color: $cff4f;
    }
}
.borbibi_add_more_content{
  position: relative;
    .borbibi_remove_add_more{
        position: absolute;
        z-index: 9;
        padding: 0;
        background: transparent;
        border: none;
        right: -22px;
        top: 40px;
        i{
            font-size: $fz16;
            color: $cff4f;
        }
    }
}
.borbibi_add_more_container {
    border: 1px solid $ceff1;
    padding: 15px 15px;
}
/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/

/*------------------------------------------
------------------------------------------*/
