.borbibi_signup {
    background: $ceae;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    .borbibi_signup__pattern {
      position: absolute;
      z-index: 0;
      opacity: 0.7;
      &.signup_pattern_one {
        left: 0;
        top: 0;
      }
      &.signup_pattern_two {
        right: 0;
        top: 0;
        filter: grayscale(100%);
      }
      &.signup_pattern_three {
        right: 0;
        bottom: 0;
      }
      &.signup_pattern_four {
        left: 0;
        bottom: 0;
        filter: grayscale(100%);
      }
    }
    .borbibi_signup__container {
      border: 2px solid $cf1;
      border-radius: 46px;
      padding-top: 60px;
      padding-bottom: 60px;
      position: relative;
      z-index: 9;
      .borbibi_section__title {
      }
      .form-group {
        label {
          font-family: $poppins;
          font-size: $fz14;
          color: $c46;
          margin-bottom: 10px;
        }
        .form-control,
        .select2-selection__rendered {
          @extend .select2-selection__rendered;
          &:focus {
            box-shadow: none;
            outline: none;
          }
          &.borbibi_awesome_select {
          }
        }
      }
      .borbibi_register_submit_area {
        .borbibi_btn {
          padding-left: 30px;
          padding-right: 30px;
          font-weight: $light;
          margin-bottom: 25px;
        }
        span {
          font-size: $fz16;
          color: $cf1;
          text-transform: uppercase;
          font-weight: $medium;
          display: block;
        }
      }
      .borbibi_signup__container_social {
        margin-top: 30px;
        .borbibi_social_btn {
          list-style: 45px;
          height: 45px;
          padding: 0 40px;
          display: inline-flex;
          align-items: center;
          justify-self: center;
          font-weight: $light;
          margin-top: 0px;
          background: $cb2b;
          &:not(:last-child) {
            margin-right: 30px;
          }
          i {
            display: inline-block;
            padding-right: 7px;
          }
        }
      }
    }
  }