.select2-selection__rendered {
  line-height: 40px !important;
}
.borbibi_banner {
  position: relative;
  .borbibi_banner__carousel {
    .borbibi_dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      top: initial;
      li {
        border-color: $cff;
        cursor: pointer;
      }
    }
    .borbibi_banner__carousel_item {
      position: relative;
      &.slick-current {
        .borbibi_banner__carousel_content {
          * {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
          h5 {
            animation-delay: 0.1s;
          }
          h1 {
            animation-delay: 0.2s;
          }
          p {
            animation-delay: 0.3s;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($c0a, 0.6);
      }
      .borbibi_banner__carousel_content {
        text-align: center;
        height: calc(100vh + 70px);
        @include flexDirection(column);
        padding-bottom: 0px;

        h5 {
          color: $cff;
          padding-bottom: 10px;
          @include respond-to(allsmall) {
            font-size: 14px;
          }
        }
        h1 {
          color: $cff;
          font-family: $play;
          font-weight: $bold;
          font-size: $fz50;
          padding-bottom: 20px;
          @include respond-to(large) {
            font-size: 36px;
          }
          @include respond-to(mdm) {
            font-size: 30px;
          }
          @include respond-to(allsmall) {
            font-size: 24px;
          }
        }
        p {
          color: $cff;
          @include respond-to(mdm) {
            font-size: $fz14;
          }
          @include respond-to(allsmall) {
            font-size: 12px;
          }
        }
      }
    }
  }
  &__searchbox {
    position: absolute;
    bottom: 80px;
    width: 100%;
    .borbibi_searchbox_content {
      border: 1px solid $cee2;
      background: rgba($c0a, 0.4);
      padding-left: 70px;
      overflow: hidden;
      border-radius: 100px;
      @include respond-to(mdm) {
        padding-left: 45px;
      }
      @include respond-to(allsmall) {
        padding-left: 23px;
        border-radius: 40px;
      }
      @include respond-to(little) {
        padding-left: 16px;
        border-radius: 40px;
        padding-bottom: 20px;
        padding-top: 24px;
        background: rgba($c0a, 0.8);
      }
      form {
        @include flexDirection(row);
        @include respond-to(little) {
          flex-flow: row;
          flex-wrap: wrap;
        }
        //    flex-wrap: wrap;
        .borbibi_searchbox_field {
          flex: 0 0 20%;
          max-width: 20%;
          @include respond-to(little) {
            flex: 0 0 46%;
            max-width: 46%;
          }
          label {
            color: $cff;
            @include respond-to(large) {
              font-size: 12px;
            }
            @include respond-to(mdm) {
              font-size: 12px;
            }
            @include respond-to(allsmall) {
              font-size: 10px;
            }
            @include respond-to(little) {
              font-size: 10px;
            }
          }
          &:not(:last-child) {
            margin-right: 12px;
            @include respond-to(allsmall) {
              margin-right: 5px;
            }
            @include respond-to(little) {
              margin-right: 10px;
            }
          }
          &:last-child {
            text-align: left;
            background: white;
            padding-top: 20px;
            padding-bottom: 15px;
            padding-right: 50px;
            background: $cff;
            @include respond-to(mdm) {
              padding-top: 13px;
              padding-bottom: 9px;
              padding-right: 35px;
            }
            @include respond-to(allsmall) {
              padding-right: 19px;
            }
            @include respond-to(little) {
              padding-right: 13px;
              margin-left: 0px;
              margin-right: 0;
              max-width: 83%;
              flex: 0 0 83%;
              flex-flow: column;
              align-items: center;
              justify-content: center;
              display: flex;
              border-radius: 30px;
              padding-top: 0;
              padding-bottom: 0;
              
            }
          }
          a {
            color: $cee2;
            font-size: $fz14;
            font-style: italic;
            display: inline-block;
            padding-left: 10px;
            @include respond-to(allsmall) {
              font-size: 12px;
            }
          }
          .form-group {
            width: 100%;
            &.borbibi_age {
              @include flexDirection(row);
              background: $cff;
              border-radius: 46px;
              .select2-selection__rendered {
                @extend .select2-selection__rendered;
              }
              .borbibi_searchbox_age_devider {
                color: $cf1;
                height: 30px;
                width: 30px;
                @include inlineFlex;
                font-size: $fz14;
                background: $cece;
                border-radius: 50%;
              }
            }
            .select2-container {
              width: 100% !important;
              .select2-selection__rendered {
                line-height: 40px !important;
              }
            }
          }
          .borbibi_btn {
            padding: 0 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-weight: $light;
            font-size: $fz14;
            @include respond-to(large) {
              margin-top: 13px;
            }
            @include respond-to(mdm) {
              padding: 0 10px;
            }
            @include respond-to(allsmall) {
              padding: 0 12px;
              font-size: 12px;
            }
            @include respond-to(little) {
              padding: 0 12px;
              font-size: 12px;
              line-height: 35px;
              height: 35px;
              margin-top: 15px;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;
            }
          }
        }
      }
    }
  }
}
