.borbibi_navigation{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    padding: 20px 0;
    &__top{
        width: 100%;
        .borbibi_navigation__top_inner{
            @include flexDirection(row);
            justify-content: space-between;
            .borbi_navigation_brand_logo{
                @include flexDirection(row);
                .borbibi_brand_logo{
                    @include inlineFlex;
                    margin-left: 25px;
                    margin-right: 25px;
                    height: 120px;
                    width: 120px;
                    &::before{
                        @include animation("rotation 5s linear infinite");
                    }
                }
            }
            .borbibi_navigation_buttons{
                a{
                    @include inlineFlex;
                    &:not(:last-child){
                        margin-right: 20px;
                    }
                }
                .borbibi_btn{
                    border: 2px solid $cff;
                    border-radius: 30px;
                    padding: 6px 20px;
                    font-size: $fz14;
                    background: transparent;
                    position: relative;
                    z-index: 5;
                    @include transition(.40s);
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 30px;
                        background: #f17677;
                        background: -moz-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                        background: -webkit-linear-gradient(top, #f17677 0%, #ee2a4f 100%);
                        background: linear-gradient(to bottom, #f17677 0%, #ee2a4f 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17677', endColorstr='#ee2a4f',GradientType=0 );
                        z-index: 0;
                        visibility: hidden;
                        opacity: 0;
                        @include transition(.40s);
                        z-index: -1;
                      }
                      &:hover{
                        color: $cff;
                        border-color: transparent;
                        &::before{
                            visibility: visible;
                            opacity: 1;
                        }
                        i{
                            color: $cff;
                        }
                    }
                    &.active{
                        @extend :hover;
                    }
                    i{
                        display: inline-block;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    &__bottom{
        width: 100%;
        padding-top: 30px;
       .borbibi_nav{
        margin-right: 130px;
           ul{
                @include flexDirection(row);
                li{
                    &:not(:last-child){
                        margin-right: 30px;
                    }
                    a{
                        font-size: $fz16;
                        color: $cff;
                    }
                }
           }
       }
    }
}